<mat-dialog-content>
    <h1 *ngIf="seeing" mat-dialog-title>Voir une tâche</h1>
    <h1 *ngIf="!seeing" mat-dialog-title>Création d'une tâche</h1>
    <div mat-dialog-content>
        <div *ngIf="!seeing">
            <mat-form-field appearance="fill">
                <mat-label>Nom de la tâche</mat-label>
                <input type="text" matInput [(ngModel)]="task.nomDeTache" required>
            </mat-form-field><br>
            <mat-form-field appearance="fill">
                <mat-label>Description de la tâche</mat-label>
                <input type="text" matInput [(ngModel)]="task.description">
            </mat-form-field><br>
            <mat-form-field>
                <mat-label>Projet concerné</mat-label>
                <mat-select mat-input [(ngModel)]="task.idProjet" required>
                    <mat-option *ngFor="let projet of projets"
                        [value]="projet.idProject">{{projet.projectName}}</mat-option>
                </mat-select>
            </mat-form-field><br>
        </div>
        <div *ngIf="seeing">
            <h3>{{data.nomDeTache}}</h3><br>
            <p><strong>Description :</strong>{{data.description}}</p><br>
            <p><strong>Projet :</strong> {{nomProjetSeeing}}</p><br>
            <p *ngIf="data.dateFin"><strong>Tâche terminé le :</strong> {{data.dateFin.toDateString()}}</p>
            <p *ngIf="!data!.dateFin">Tâche en cours</p>
            <p><strong>Utilisateur liers : </strong></p>
            <div *ngFor="let listTask of listTasks">
                {{listTask.email}}
            </div>
        </div>
    </div>
</mat-dialog-content>
<div mat-dialog-actions>
    <button *ngIf="seeing" mat-button (click)="onCancelClick()">Fermer</button>
    <button *ngIf="!seeing" mat-button [disabled]="!task.nomDeTache || !task.idProjet" [mat-dialog-close]="task"
        cdkFocusInitial>Confirmer</button>
</div>