<app-navbar></app-navbar>
<div [@enterL]>
  <div class="jumbotron text-center">
    <div class="container text-center" style="padding-top: 1%; padding-left: 200px; padding-right: 200px;">
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Tâche</mat-label>
            <mat-select mat-input [disabled]="!EtatSession" [(ngModel)]="idTaskTimer">
              <mat-option *ngFor="let task of notValidTask" [value]="task">{{task.nomDeTache}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-checkbox class="example-margin" [(ngModel)]="checkTimer" [disabled]="EtatSession">Tâche
            Fini</mat-checkbox>
        </div>
        <div class="col">
          <button *ngIf="EtatSession" style="margin-left: 15px;" mat-raised-button [disabled]="!idTaskTimer"
            (click)="NewSession()">Nouvelle Sessions</button>
          <button *ngIf="!EtatSession" style="margin-left: 15px;" mat-raised-button [disabled]="!idTaskTimer"
            (click)="StopSession()">Arrêter Sessions</button>
        </div>
        <div class="col">
          <cd-timer #basicTimer [autoStart]="false" format="intelli"></cd-timer>
        </div>
      </div>

    </div>
  </div>
  <div class="container-start" style="overflow: hidden;">
    <div class="row text-center">
      <div class="col-md-3">
        <div class="btn-group">
          <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()">
            Retour
          </div>
          <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
            Aujourd'hui
          </div>
          <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()">
            Suivant
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'fr'}}</h3>
      </div>
      <div class="col-md-4">
        <div class="btn-group">
          <div class="btn btn-primary" (click)="setView(CalendarView.Month)"
            [class.active]="view === CalendarView.Month">
            Mensuel
          </div>
          <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
            Hebdomadaire
          </div>
          <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
            Journalier
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-3 text-center">
        <p *ngIf="nbTickets == undefined">Pour avoir des tâches il faut faire parti d'un projet !</p>
        <button class="btn btn-primary" (click)="createTask()" *ngIf="nbTickets != undefined">+ Ajouter un
          ticket</button>
        <mat-card *ngFor="let task of this.tasks" class="taskCard">
          <div etatTask = "checkNotJoined(task.idTask)"></div>
          <mat-card-header>
            <div mat-card-avatar *ngIf="task.dateFin == undefined" class="taskInProgress"></div>
            <div mat-card-avatar *ngIf="task.dateFin != undefined" class="taskComplete"></div>
            <mat-card-title>{{task.nomDeTache}}</mat-card-title>
            <mat-card-subtitle>{{task.description}}
              <p *ngIf="this.task.etat == 1"><br>Tâche déjà attribué <br> à une autre personne</p>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
            <button mat-button color="primary" (click)="seeTask(task.getTaskModel())">Voir</button>
            <button mat-button (click)="joinTask(task.getTaskModel())"
              *ngIf="task.dateFin == undefined && task.etat == 0">Attribuer tâche</button>
            <button mat-button (click)="addSession(task.getTaskModel())"
              *ngIf="task.dateFin == undefined && task.etat == 2">Ajouter session Travail</button>
            <button mat-button (click)="deleteTask(task.getTaskModel())" color="warn"
              *ngIf="task.dateFin == undefined  && task.etat == 2">Supprimer</button>
          </mat-card-actions>
        </mat-card>
        <br>
      </div>
      <div class="col-9">
        <div [ngSwitch]="view">
          <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
            [refresh]="refresh">
          </mwl-calendar-month-view>
          <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
            [refresh]="refresh">
          </mwl-calendar-week-view>
          <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
            [refresh]="refresh">
          </mwl-calendar-day-view>
        </div>
      </div>
    </div>
  </div>
</div>