<app-navbar></app-navbar>
<div class="jumbotron text-center">
  <div class="container text-center" style="padding-top: 1%; padding-left: 300px; padding-right: 300px;">
    <div class="row">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Tâche</mat-label>
          <mat-select mat-input [disabled]="!EtatSession" [(ngModel)]="idTaskTimer">
              <mat-option *ngFor="let task of tasks" [value]="task">{{task.nomDeTache}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-checkbox class="example-margin" [(ngModel)]="checkTimer">Session Fini</mat-checkbox>
      </div>
      <div class="col">
        <button *ngIf="EtatSession" style="margin-left: 15px;" mat-raised-button [disabled]="!idTaskTimer" (click)="NewSession()">Nouvelle Sessions</button>
        <button *ngIf="!EtatSession" style="margin-left: 15px;" mat-raised-button [disabled]="!idTaskTimer" (click)="StopSession()">Arrêter Sessions</button>
        <cd-timer #basicTimer [autoStart]="false" format="intelli"></cd-timer>
      </div>
    </div>

  </div>
</div>
<div class="container-start" style="overflow: hidden;">
  <div class="row text-center">
    <div class="col-md-3">
      <div class="btn-group">
        <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()">
          Previous
        </div>
        <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
          Today
        </div>
        <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()">
          Next
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
          Month
        </div>
        <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
          Week
        </div>
        <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
          Day
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-3 text-center">
      <p *ngIf="!projects">Pour avoir des tâches il faut faire parti d'un projet !</p>
        <button class="btn btn-primary" (click)="createTask()">+ Ajouter un ticket</button>
          <mat-card *ngFor="let task of this.tasks">
            <mat-card-header>
              <div mat-card-avatar *ngIf="task.dateFin" class="taskComplete"></div>
              <div mat-card-avatar *ngIf="!task!.dateFin" class="taskInProgress"></div>
              <mat-card-title>{{task.nomDeTache}}</mat-card-title>
              <mat-card-subtitle>{{task.description}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button color="primary" (click)="seeTask(task)">Voir</button>
              <button mat-button (click)="joinTask(task)">Attribuer tâche</button>
              <button mat-button (click)="addSession(task)">Ajouter session Travail</button>
              <button mat-button color="warn">Supprimer</button>
            </mat-card-actions>
          </mat-card>
          <br>
    </div>
    <div class="col-9">
      <div [ngSwitch]="view">
        <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
          [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
          (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
          [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
          [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-day-view>
      </div>
    </div>
  </div>
</div>
